<footer class="footer">
  <small>
    MarkIt, now with <a href="http://api.rubyonrails.org/">Ruby on Rails</a>,
    by <a href="https://github.com/adrianlu95">Adrian Lu</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/adrianlu95/Markit-on-rails">About</a></li>
    </ul>
  </nav>
</footer>
